{% extends 'base.html' %}

{% block content %}
    <h1>Your Links</h1>

    <ul>
        {% for link in links %}
            <li>
                Original URL: <a href="{{ link.original_url }}">{{ link.original_url }}</a><br>
                Shortened URL:
                <a href="http://{{ request.get_host }}/{{ link.short_code }}">
                    http://{{ request.get_host }}/{{ link.short_code }}
                </a><br>
                Clicks: {{ link.clicks }} <br>
                {% if link.expires_at %}
                    Expiration Date: {{ link.expires_at|date:"M. d, Y, g:i a" }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <button><a href="{% url 'index' %}">Shorten another URL</a></button>

{% endblock %}

